body {
    width:100%;
    height:700px;
    margin:0px;
    padding:0px;
    background-color:#eeeeee;
}
.header{
    float:left;
    width:100%;
    height:30px;
    background-color:red;
    border-bottom:solid 2px;
    border-bottom-color:black;
    
}
.header .title{
    float:left;
    height:100%;
    width:80%;
    background-color:white;
}
.header .person{
    float:left;
    height:100%;
    width:20%;
    background-color:brown;
}
h2{
   margin:0px;
   padding:0px;
}